extends ../layout

block content
    h3= course.name
    a(href=`/courses/edit/{course.id}`) Edit Course
    a(href=`/courses/delete/${course.id}`) Delete Course
    div
        p Instructor: #{course.instructor_name}
        p Department: #{course.department}
        p= course.description
        button.button.primary(type='submit') Enroll
    div.students
        h4 Available Students
        if availableStudents.length>0
            form(action=`/courses/${course.id}/enroll` method= 'post')
                select(name='student' id='student' autocomplete=off)
                    each student in availableStudents
                        option(value=' student.id') #{student.first_name}
                button.button.primary(type='submit') Enroll
        else
            p No remaining students are eligible
